/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", system-ui, sans-serif;
  background-color: #fffaf5;
  color: #F5F5F5;
}

/* ================= NAVBAR ================= */
.navbar {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fffaf5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.navbar .logo{
  font-size: 24px;
  font-weight: 700;
  color: #1F2933 !important;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
  color: #1F2933;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.2s;
}

.navbar a:hover {
  color: #7AC5D3;
}

/* ================= HERO ================= */
.hero {
  height: 100vh;
  width: 100%;
  background-image: url("image/GoTurkiyeHeroSection.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0,0,0,0.4) 0%,
    rgba(0,0,0,0.1) 50%,
    rgba(0,0,0,0) 100%
  );
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin-left: 8%;
}

.hero-content h1 {
  font-size: 46px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 20px;
 color: #F5F5F5;
}

.hero-content p {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 40px;
  color: #F5F5F5;
}

.btn {
  display: inline-block;
  padding: 18px 45px;
  background-color: #7AC5D3;
  color: #1F2933;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  transition: background-color 0.25s, transform 0.2s;
}

.btn:hover {
  background-color: #65aab7;
  transform: translateY(-2px);
}

/* ================= DESTINATIONS ================= */
.destination {
  padding: 100px 0;
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: #fffaf5;
}

.destination-header h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #1F2933;
}

.destination-header p {
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #1F2933;
}
.swiper-button-next,
.swiper-button-prev {
  color: #1F2933; /* your theme color */
  width: 40px;
  height: 40px;
  background-color: #fffaf5;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.2s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}

/* Make arrows bigger inside circle */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px; /* arrow size */
  font-weight: bold;
}




/* ================= SWIPER ================= */
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: clamp(180px, 20vw, 300px);
  height: 400px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  display: block;
}

.slide-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px 20px 20px;
  background: linear-gradient(to top, rgba(0,0,0,0.8) 0%, transparent 100%);
  text-align: left;
  box-sizing: border-box;
}

.slide-info h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #F5F5F5;
}

.slide-info p {
  font-size: 0.9rem;
  color: #F5F5F5;
  margin: 5px 0 0;
  line-height: 1.4;
}


/* ================= TRAVEL GUIDE ================= */
.travel-guides {
  padding: 70px 20px;
  background-color: #fffaf5;
  text-align: center;
}

.guide-header h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #1F2933;
  text-align: center;
}

.guide-header p {
  color: #1F2933;
  max-width: 600px;
  margin: 0 auto 50px;
  font-size: 16px;
}

.guide-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.guide-card {
  background-color: #fffaf5;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 22px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.guide-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-content {
  padding: 10px 10px;
}

.guide-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #1F2933;
}

.guide-card p {
  font-size: 16px;
  color: #1F2933;
  line-height: 1.6;
}

.guide-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 14px 32px rgba(0,0,0,0.12);
}


img {
  max-width: 100%;
  display: block;
}
/* ================= GALLERY SECTION ================= */
.gallery {
  padding: 80px 20px;
}

.gallery .main {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.gallery h2 {
  font-size: 2.5rem;
  color: #1F2933;
  margin-bottom: 12px;
}

.gallery-description {
  max-width: 600px;
  margin: 0 auto 40px;
  font-size: 1rem;
  line-height: 1.6;
  color: #1F2933;
}

/* ================= IMAGE STRIP ================= */
.gallery .flex {
  display: flex;
  gap: 12px;
  height: 400px;
  max-width: 900px;
  margin: auto;
}

/* Image card */
.gallery .flex > div {
  position: relative;
  flex: 1;
  min-width: 90px;
  overflow: hidden;
  border-radius: 12px;
  transition: flex 0.5s ease;
  cursor: pointer;
}

/* Hover expand */
.gallery .flex > div:hover {
  flex: 5;
}

/* Image */
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease;
}

/* Slight zoom on hover */
.gallery .flex > div:hover img {
  transform: scale(1.05);
}
/* ================= FOOTER ================= */
.footer {
  background-color: #1F2933;
  color: #fffaf5;
  padding: 60px 20px 40px;
}


/* Layout */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 80px;
}

/* Brand */
.footer-brand h2 {
  font-size: 1.6rem;
  color: #fffaf5;
  margin-bottom: 12px;
}

.footer-brand p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #fffaf5;
}

/* Links */
.footer-links h3 {
  font-size: 1.1rem;
  color: #fffaf5;
  margin-bottom: 14px;
}

.footer-links ul {
  direction: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  font-size: 0.95rem;
  color: #fffaf5;
  transition: color 0.3s ease;
}


.footer-links a:hover {
  color: #38bdf8;
}


.footer-bottom {
  max-width: 1200px;
  margin: 40px auto 0;
  padding-top: 20px;
  border-top: 1px solid #fffaf5;
  text-align: center;
}

.footer-bottom p {
  font-size: 0.85rem;
  color: #fffaf5;
}

.destination-detail {
  max-width: 900px;
  margin: 120px auto 50px; /* top margin accounts for fixed navbar */
  padding: 0 20px;
}

.destination-detail h1 {
  font-size: 3rem;
  color: #1F2933;
  margin-bottom: 1rem;
  text-align: center;
}

.destination-detail h2 {
  font-size: 2rem;
  color: #1F2933;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
  .destination-detail h2 ul>li{
  color: #1F2933;
}
.destination-detail p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #1F2933;
  margin-bottom: 1rem;
}

.destination-detail ul {
  list-style: disc;
  padding-left: 1.5rem;
  margin-bottom: 1rem;

}
.destination-detail ul>li{
  color: #1F2933;
}
.destination-detail img {
  width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.istanbul-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 16px;
  margin-top: 20px;
}

.istanbul-gallery img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.35s ease;
}

.istanbul-gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,.15);
}
.gslide-title {
    color: #1F2933;       
    font-size: 1.5rem;    /* Make it larger */
    font-weight: bold;    /* Make it bold */
    margin-bottom: 5px;   /* Add space below the title */
}

/* 2. Style the Popup Description (e.g., "Historic landmark...") */
.gslide-desc {
    color: #1F2933;      
    font-size: 1rem;      /* Standard readable size */
    line-height: 1.5;     /* Better spacing between lines */
}
.leaflet-popup-content-wrapper {
  background-color: #f5f5f5; /* your desired background color */
  color: #1F2933; /* text color */
  border-radius: 10px;      /* rounded corners */
  padding: 15px;            /* padding inside popup */
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}


/* ================= RESPONSIVE ================= */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-brand {
    grid-column: span 2;
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 50px;
  }
  .
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .gallery .flex {
    flex-direction: column;
    height: auto;
  }

  .gallery .flex > div {
    height: 220px;
  }

  .gallery .flex > div:hover {
    flex: 1;
  }
}
.guide-card a {
  text-decoration: none; /* remove underline */
  color: inherit;        /* keep text color same as card */
  display: block;        /* ensures the whole card is clickable */
}



/* ================= RESPONSIVE ================= */
@media (max-width: 1024px) {
  .guide-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
   /* ================= NAVBAR ================= */
  .navbar {
    padding: 15px 20px;
  }

  .navbar ul {
    display: flex;
    flex-direction: column;   /* STACK links */
    gap: 12px;                /* normal spacing */
    font-size: 14px;
    align-items: flex-start;  /* left aligned */
  }

  .navbar ul li a {
    display: block;
    width: 100%;
  }
    /* Hero */
  .hero-content {
    margin-left: 0;
    text-align: center;
    padding: 0 20px;
  }
  
  .hero-content h1 {
    font-size: 36px;
  }
  .hero-content p {
    font-size: 18px;
  }
  .hero {
    padding-bottom: 40px;
  }

  /* Swiper */
  .swiper-slide {
    width: 85%;
    height: auto;
  }
  .slide-info {
    position: static;
    background: none;
    padding-top: 10px;
    text-align: center;
  }
  .slide-info h3 {
    font-size: 1.8rem;
    color: #1F2933;
  }
  .slide-info p {
    font-size: 1rem;
    color: #1F2933;
  }

  /* Travel Guide Cards */
  .guide-cards {
    grid-template-columns: 1fr;
  }
  .guide-header h2 {
    font-size: 1.9rem;
  }
   .gallery-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .gallery-header h2 {
    font-size: 1.5rem;
  }
  .gallery-header p {
    font-size: 0.9rem;
  }
}

  }
