/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Denk One", system-ui, sans-serif;
  background-color: #F8F5F0;
  color: #F5F5FC;
}

/* ================= NAVBAR ================= */
.navbar {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar .logo {
  font-size: 24px;
  font-weight: 700;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 40px;
}

.navbar a {
  text-decoration: none;
 color: #1F2933;
  font-size: 18px;
  font-weight: 600;
  transition: color 0.2s;
}


/* ================= HERO ================= */
.hero {
  height: 100vh;
  width: 100%;
  background-image: url("image/GoTurkiyeHeroSection.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  position: relative;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    90deg,
    rgba(0,0,0,0.4) 0%,
    rgba(0,0,0,0.1) 50%,
    rgba(0,0,0,0) 100%
  );
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
  margin-left: 8%;
}

.hero-content h1 {
  font-size: 46px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 20px;
  text-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.hero-content p {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 40px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.btn {
  display: inline-block;
  padding: 18px 45px;
  background-color: #7AC5D3;
  color: #1F2933;
  text-decoration: none;
  font-size: 22px;
  font-weight: 400;
  transition: background-color 0.25s, transform 0.2s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn:hover {
  background-color: #65aab7;
  transform: translateY(-2px);
}

/* ================= DESTINATION ================= */
.destination {
  padding: 100px 0;
  width: 90%;
  margin: auto;
  text-align: center;
}

.destination-header h2 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #1F2933;
}

.destination-header p {
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  color: #1F2933;
}

/* ================= SWIPER ================= */
.swiper {
  width: 80%;
  padding-bottom: 60px;
  margin: auto;
}

.swiper-slide {
  width: 250px;
}

.swiper-slide img {
  width: 100%;
  display: block;
  border-radius: 10px;
}

/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {
  .navbar ul {
    gap: 20px;
    font-size: 14px;
  }

  .hero-content {
    margin-left: 0;
    text-align: center;
    padding: 0 20px;
  }

  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 18px;
  }

  .swiper-slide {
    width: 180px;
  }
}
